https://docs.python.org/3/tutorial/index.html

In [7]:
2 << 7 
2 >> 7

10 / -4
3 / 4 

10 // -4 
3 // 4

256

0

-2.5

0.75

-3

0

In [15]:
print('--\nOh\n--')  # u can still use \n in ''
print(r'C:\Users') # r means 'raw'

triple_quoted_words = """Hi
    Notice: if you're in a func,
    you need to put it in 
HERE 
    to make it appear in the starting of the line.
"""

print(triple_quoted_words)

--
Oh
--
C:\Users
Hi
    Notice: if you're in a func,
    you need to put it in
HERE
    to make it appear in the starting of the line.

In [29]:
constr_useopt = "Hey " + "guys."
constr_autoadd = "Hey " "guys."
constr_forlongstr = ("Hey "
          "guys.")
constr_doNOTuse = "Hey " \
"guys."


all((
    constr_autoadd,
    constr_doNOTuse,
    constr_forlongstr,
    constr_useopt
))

True

In [52]:
word = 'Python'

# get reversed val manually 
word[0:6:1]
word[-1:-7:-1]


# Slicing
#   start+step, 
#   start+step+step, 
#   start+step+step+step ...
# Examples
#   [3]        get to the straight 
#   [3:0]      get nothing                 3 + 1 != 0 
#   [3:0:-1]   like [0:3] but without 0    reversed though

word[3:0]


try:
    word[100]
except IndexError: 
    pass

'Python'

'nohtyP'

''

In [56]:
another_word = "NOT-Mutable"

# another_word[0:4] = ""

# This one is okay
lalala = another_word[0:4] + "Me"

In [65]:
squares = [ 1, 4, 9 , 16 ]

itself   = squares * 2 
its_elem = [i*2 for i in squares]

# mul 2
itself 
its_elem

[1, 4, 9, 16, 1, 4, 9, 16]

[2, 8, 18, 32]

In [3]:
# 6 / 2 
#   6 is denominator 
#   2 is numerator 

for denominator in range(2,12):
    for numerator in range(2,denominator):
        if denominator % numerator == 0:
            print(denominator,'equals',numerator,'*',denominator//numerator)
            break 
    else:
        print(denominator,'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3
10 equals 2 * 5
11 is a prime number

In [7]:
i = 5

def hmm(arg=i):
    print('arg =',arg) # formal param | fixed val when i = 5 
    print('i   =',i)   # actual param | this can be changed
    
i = 6

hmm()

arg = 5
i   = 6

In [35]:
def f(a,L=[]):
    L.append(a)
    return L

f(1)
f(2) # Hmm, it's a list!

[1]

[1, 2]

In [36]:
def ft(a,L=None):
    if L is None:
        L = [] 
    L.append(a)
    return L

ft(1)
ft(2)

[1]

[2]

In [52]:
def concat(*args,sep='-'):
    return sep.join(args) # str only

concat("one","two","three")
concat("6","6","6",sep='')

'one-two-three'

'666'

In [54]:
def make_power(n):
    return lambda x: x**n

pow2 = make_power(2)

pow2(10)
pow2(30)

100

900